@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "comfort";
  src: url("/assets/fonts/Comfortaa-VariableFont_wght.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}
